<p><b>ФИО: {{ person["ФИО"] }}</b></p>

{% if person["Дата задержания"] != ""  %}
    <p>Дата задержания: <b>{{ person["Дата задержания"] }}</b></p>
{% endif %}

{% if person["Год"] != "" %}
<p>Год или дата рождения: {{person["Год"]}}</p>
{% else %}
    <p> Год или дата рождения: неизвестно </p>
{% endif %}

{% if person["Сводка"] != "" %}
    <p>Что известно: {{ person["Сводка"] }} </p>
{% else %}
    <p> Что известно: поступила информация о задержании, ждём дополнительной информации. Как только
        что-то будет
        известно, информация отобразится на сайте. </p>
{% endif %}
{% if person["Суд, судья, приговор"] != "" %}
    <p>Суд, судья, приговор: {{person["Суд, судья, приговор"]}} {{person["Штраф"]}} {{person["Сутки"]}} </p>
{% endif %}
{% if person["Отпустили"] != "" %}
    <p>Дополнительная информация: {{ person["Отпустили"] }}</p>
{% endif %}

{% if person["Дата выхода"] != "" %}
    <p>Дата выхода: {{person["Дата выхода"] }} {{person["Время выхода"] }} </p>
{% endif %}

<hr/>
